Repository fabric8-services/fabric8-wit, pull requests merged in 2018-02, with the labels that each got.

#1895 WorkItem parents in included list in tree view should be fetched according to order of execution
  controller/search_blackbox_test.go
  search/search_repository.go
Labels: bug

#1897 Simplify child reorder tests
  workitem/link/link_repository_blackbox_test.go
  workitem/workitem_repository.go
Labels: enhancement, refactoring, test

#1900 TypeGroup: Remove unused relationships
  controller/test-files/work_item_type_group/list/ok.witg.golden.json
  controller/test-files/work_item_type_group/show/ok.witg.golden.json
  controller/work_item_type_group.go
  design/work_item_type_group.go
  workitem/typegroup.go
Labels: cleanup, refactoring, test

#1904 Use Go 1.10 version from website when running tests with coverage
  .make/docker.mk
  Dockerfile.builder
  cico_run_coverage.sh
Labels: optimization, test

#1892 Upgrade Glide version in Jenkins builds
  Dockerfile.builder
  Makefile
Labels: cleanup

#1862 Incorporate error handling changes requested by @kwk in deployments API code
  controller/deployments.go
  controller/deployments_blackbox_test.go
  controller/deployments_osioclient.go
  kubernetes/deployments_kubeclient.go
  kubernetes/deployments_metrics.go
Labels: :bath: cleanup, :fire: tech-dept, :memo: logging, :recycle: refactoring

#1913 better error handling in expression-compiler
  workitem/expression_compiler.go
Labels: :mag: search

#1917 Add missing "bc" to docker build container
  Dockerfile.builder
Labels: :package: build system

#1912 search in foreign tables
  controller/search_blackbox_test.go
  criteria/iterator_test.go
  gormtestsupport/db_test_suite.go
  search/query_language_whitebox_test.go
  search/search_repository.go
  search/search_repository_blackbox_test.go
  workitem/expression_compiler.go
  workitem/expression_compiler_blackbox_test.go
  workitem/table_join.go
  workitem/table_join_blackbox_test.go
  workitem/table_join_whitebox_test.go
  workitem/workitem_repository.go
Labels: :bomb: : test, :grey_exclamation: important, :mag: search, enhancement, kind/enhancement

#1919 search: fixup for #1912
  search/search_repository.go
  search/search_repository_blackbox_test.go
  workitem/expression_compiler.go
  workitem/expression_compiler_blackbox_test.go
Labels: :bomb: : test, :mag: search, :see_no_evil: bug

#1921 expression compiler improvements
  search/search_repository.go
  workitem/expression_compiler.go
  workitem/expression_compiler_blackbox_test.go
  workitem/table_join.go
  workitem/table_join_blackbox_test.go
  workitem/table_join_whitebox_test.go
  workitem/workitem_repository.go
Labels: :bomb: : test, :mag: search, :snake: security, database, enhancement, kind/enhancement
