Repository fabric8-services/fabric8-wit, pull requests merged in 2018-11, with the labels that each got.

#2346 capture range variable for parallel testing
  workitem/enum_type_blackbox_test.go
  workitem/link/topology_blackbox_test.go
  workitem/list_type_blackbox_test.go
  workitem/simple_type_blackbox_test.go
Labels: :bomb: test, :see_no_evil: bug

#2281 Link type descriptions
  controller/test-files/work_item_link_type/list/ok.agile.res.payload.golden.json
  controller/test-files/work_item_link_type/list/ok.base.res.payload.golden.json
  controller/test-files/work_item_link_type/list/ok.legacy.res.payload.golden.json
  controller/test-files/work_item_link_type/list/ok.res.payload.golden.json
  controller/test-files/work_item_link_type/list/ok.scrum.res.payload.golden.json
  controller/test-files/work_item_link_type/list/ok_using_expired_ifmodifiedsince_header.res.payload.golden.json
  controller/test-files/work_item_link_type/list/ok_using_expired_ifnonematch_header.res.payload.golden.json
  spacetemplate/assets/agile.yaml
  spacetemplate/assets/base.yaml
Labels: documentation, space_templates

#2354 Cleanup golden files comparison and generation by introducing compareOptions
  controller/golden_files_test.go
Labels: :bath: cleanup, :bomb: test, :recycle: refactoring

#2351 Trackerquery refactor
  controller/trackerquery.go
  controller/trackerquery_blackbox_test.go
  design/media_types.go
  design/resources.go
  design/tracker_queries.go
  design/user_types.go
  migration/migration.go
  migration/migration_blackbox_test.go
  migration/sql-files/110-trackerquery-to-use-uuid.sql
  remoteworkitem/github.go
  remoteworkitem/tracker_repository.go
  remoteworkitem/tracker_repository_test.go
  remoteworkitem/trackerquery.go
  remoteworkitem/trackerquery_repository.go
  remoteworkitem/trackerquery_repository_blackbox_test.go
  remoteworkitem/trackerquery_repository_test.go
Labels: :rocket: optimization
