Repository fabric8-services/fabric8-wit, pull requests merged in 2018-03, with the labels that each got.

#1929 Replace $WITGROUP with typegroup.name
  search/search_repository.go
Labels: :recycle: refactoring, :sparkles: UI

#1932 fix(search): support old "$WITGROUP" as well as new "typegroup.name" fields
  controller/search_blackbox_test.go
  search/query_language_whitebox_test.go
  search/search_repository.go
  search/search_repository_whitebox_test.go
Labels: :bomb: : test, :mag: search

#1928 WIP: Ordered TableJoins with delegation and optional where
  workitem/expression_compiler.go
  workitem/expression_compiler_blackbox_test.go
  workitem/table_join.go
  workitem/table_join_blackbox_test.go
Labels: :bomb: : test, :mag: search, :recycle: refactoring, enhancement

#1924 Removes sort by name/ID of workitems in result.Data in search API.
  controller/search.go
  controller/search_blackbox_test.go
  controller/test-files/search/show/in_topology_A-B-C-D_and_B-E_search_for_B_and_C/do_not_include_children.res.payload.golden.json
  controller/test-files/search/show/in_topology_A-B-C-D_and_B-E_search_for_B_and_C/include_children.res.payload.golden.json
  controller/test-files/search/show/in_topology_A-B-C_and_A-D_search_for/B,C_with_tree-view=false.res.golden.json
  controller/test-files/search/show/in_topology_A-B-C_and_A-D_search_for/B,C_with_tree-view=true.res.golden.json
  controller/test-files/search/show/in_topology_A-B-C_and_A-D_search_for/C_with_tree-view=true.res.golden.json
Labels: :rocket: optimization, :see_no_evil: bug

#1936 Revert "Removes sort by name/ID of workitems in result.Data in search API. (#1924)"
  controller/search.go
  controller/search_blackbox_test.go
  controller/test-files/search/show/in_topology_A-B-C-D_and_B-E_search_for_B_and_C/do_not_include_children.res.payload.golden.json
  controller/test-files/search/show/in_topology_A-B-C-D_and_B-E_search_for_B_and_C/include_children.res.payload.golden.json
  controller/test-files/search/show/in_topology_A-B-C_and_A-D_search_for/B,C_with_tree-view=false.res.golden.json
  controller/test-files/search/show/in_topology_A-B-C_and_A-D_search_for/B,C_with_tree-view=true.res.golden.json
  controller/test-files/search/show/in_topology_A-B-C_and_A-D_search_for/C_with_tree-view=true.res.golden.json
Labels: :bomb: test, :mag: search

#1934 Cleanup controller helper functions
  controller/codebase.go
  controller/iteration_blackbox_test.go
  controller/test-files/iteration/show/ok.res.iteration.golden.json
  controller/workitem_blackbox_test.go
  workitem/workitem_repository.go
Labels: :bomb: test, :recycle: refactoring

#1942 time agnostic golden files for RFC7232 (section 2.2) and RFC3339
  controller/codebase_blackbox_test.go
  controller/filters_blackbox_test.go
  controller/golden_files_test.go
  controller/iteration_blackbox_test.go
  controller/label_blackbox_test.go
  controller/query_blackbox_test.go
  controller/search_blackbox_test.go
  controller/space_blackbox_test.go
  controller/test-files/iteration/create/bad_request_missing_name.req.payload.golden.json
  controller/test-files/iteration/create/bad_request_unknown_parent.req.payload.golden.json
  controller/test-files/iteration/create/conflict_for_same_name.req.payload.golden.json
  controller/test-files/iteration/create/ok_create_child.req.payload.golden.json
  controller/test-files/iteration/create/ok_create_child.res.iteration.golden.json
  controller/test-files/iteration/create/ok_create_child_ID_paylod.req.payload.golden.json
  controller/test-files/iteration/create/ok_create_child_with_ID_paylod.res.iteration.golden.json
  controller/test-files/iteration/create/unauthorized.req.payload.golden.json
  controller/test-files/iteration/create/unauthorized_other_user.req.payload.golden.json
  controller/test-files/iteration/show/ok.res.iteration.golden.json
  controller/test-files/work_item_type/create/animal.headers.golden.json
  controller/test-files/work_item_type/create/animal.wit.golden.json
  controller/test-files/work_item_type/create/person.golden.json
  controller/test-files/work_item_type/create/person.headers.golden.json
  controller/test-files/work_item_type/show/ok.wit.golden.json
  controller/test-files/work_item_type/show/ok_using_expired_etag_header.wit.golden.json
  controller/test-files/work_item_type/show/ok_using_expired_lastmodified_header.wit.golden.json
  controller/work_item_link_blackbox_test.go
  controller/work_item_type_group_blackbox_test.go
  controller/workitemtype_blackbox_test.go
  gormtestsupport/db_test_suite.go
  workitem/link/link_repository_blackbox_test.go
Labels: :bomb: test, :recycle: refactoring

#1943 WIP: Added read-only number to the planner item type.
  controller/named_work_items_blackbox_test.go
  controller/workitem.go
  controller/workitem_blackbox_test.go
  migration/migration.go
  workitem/workitem_repository.go
Labels: :bath: cleanup, :grey_exclamation: important

#1944 on-the-fly rendering of link diagram
  workitem/link/link_creation.png
  workitem/link/link_creation.puml
Labels: documentation

#1967 Use '-E' to make glide version check macOS compatible (#1963)
  Makefile
Labels: :hammer_and_wrench: dev, :package: build system
