Repository fabric8-services/fabric8-wit, pull requests merged in 2018-10, with the labels that each got.

#2285 Have convert.EqualValue and convert.CascadeEqual
  account/context_information.go
  convert/equaler.go
  convert/equaler_blackbox_test.go
  gormsupport/lifecycle.go
  gormsupport/lifecycle_blackbox_test.go
  numbersequence/human_friendly_number.go
  space/space.go
  space/space_test.go
  spacetemplate/importer/import_helper.go
  spacetemplate/importer/importer_blackbox_test.go
  spacetemplate/template.go
  spacetemplate/template_blackbox_test.go
  workitem/board.go
  workitem/board_repository_blackbox_test.go
  workitem/enum_type.go
  workitem/enum_type_blackbox_test.go
  workitem/field_definition.go
  workitem/field_definition_whitebox_test.go
  workitem/json_storage.go
  workitem/link/link.go
  workitem/link/link_blackbox_test.go
  workitem/link/type.go
  workitem/link/type_blackbox_test.go
  workitem/link/type_repository_blackbox_test.go
  workitem/list_type.go
  workitem/simple_type.go
  workitem/simple_type_blackbox_test.go
  workitem/typegroup.go
  workitem/typegroup_repository_blackbox_test.go
  workitem/workitem_blackbox_test.go
  workitem/workitem_storage.go
  workitem/workitemtype.go
  workitem/workitemtype_blackbox_test.go
Labels: :bath: cleanup, :bomb: test, :recycle: refactoring

#2307 Revert "Introduce number column for area and iteration and allow seahching it (#2287)"
  area/area.go
  area/area_blackbox_test.go
  controller/area.go
  controller/iteration.go
  controller/test-files/area/create/ok.child1_ok.res.payload.golden.json
  controller/test-files/area/create/ok.res.payload.golden.json
  controller/test-files/area/show/expired_if_modified_since.res.payload.golden.json
  controller/test-files/area/show/expired_if_none_match.res.payload.golden.json
  controller/test-files/area/show/ok-root-area.res.payload.golden.json
  controller/test-files/area/showChildren/ok.res.payload.golden.json
  controller/test-files/iteration/create/ok_create_child.res.iteration.golden.json
  controller/test-files/iteration/create/ok_create_child_with_ID_paylod.res.iteration.golden.json
  controller/test-files/iteration/show/ok-child-iteration.res.payload.golden.json
  controller/test-files/iteration/show/ok-root-iteration.res.payload.golden.json
  controller/test-files/iteration/update/ok_change_parent.res.iteration.golden.json
  controller/test-files/space_iterations/create/ok.payload.res.golden.json
  controller/test-files/space_iterations/create/ok_with_force_active.payload.res.golden.json
  design/areas.go
  design/iterations.go
  iteration/iteration.go
  iteration/iteration_test.go
  migration/migration.go
  migration/migration_blackbox_test.go
  migration/sql-files/106-number-sequences.sql
  migration/sql-files/106-remove-link-category-concept.sql
  migration/sql-test-files/106-number-sequences.sql
  migration/sql-test-files/106-remove-link-category-concept.sql
  numbersequence/human_friendly_number.go
  numbersequence/human_friendly_number_test.go
  search/search_repository_blackbox_test.go
  space/space.go
  workitem/expression_compiler.go
  workitem/number_sequence/work_item_number_sequence_repository_test.go
  workitem/number_sequence/workitem_number_sequence.go
  workitem/number_sequence/workitem_number_sequence_repository.go
  workitem/workitem_blackbox_test.go
  workitem/workitem_repository.go
  workitem/workitem_storage.go
Labels: :bomb: test, :grey_exclamation: important, :rotating_light: URGENT, database

#2309 Add number_sequences table and nullable 'number' column on areas and iterations tables
  migration/migration.go
  migration/migration_blackbox_test.go
  migration/sql-files/107-number-sequences-table.sql
  migration/sql-files/108-number-column-for-area.sql
  migration/sql-files/109-number-column-for-iteration.sql
Labels: :bomb: test, database

#2314 update number for existing iterations
  migration/migration.go
  migration/migration_blackbox_test.go
  migration/sql-files/110-update-number-for-existing-iterations.sql
  migration/sql-test-files/110-update-number-for-existing-iterations.sql
Labels: :bomb: test, database

#2319 Improve migration 110
  migration/sql-files/110-update-number-for-existing-iterations.sql
Labels: :rocket: optimization, database

#2323 Make agile default template for space creation
  controller/comments_blackbox_test.go
  controller/search_blackbox_test.go
  controller/space.go
  controller/workitem_blackbox_test.go
Labels: enhancement, space_templates

#2325 Postpone iteration number update
  migration/migration.go
  migration/migration_blackbox_test.go
  migration/sql-files/110-update-number-for-existing-iterations.sql
  migration/sql-test-files/110-update-number-for-existing-iterations.sql
Labels: database

#2305 Enable the delete workitem endpoint
  controller/workitem.go
  controller/workitem_blackbox_test.go
  design/workitems.go
  workitem/link/link_repository_blackbox_test.go
  workitem/workitem_repository_blackbox_test.go
Labels: :sleeping: REST, enhancement

#2321 Do not throw 500 on invalid value type in search API
  controller/search_blackbox_test.go
  gormsupport/postgres.go
  search/search_repository.go
  search/search_repository_blackbox_test.go
Labels: :mag: search, :see_no_evil: bug

#2334 Add 'None' as default resolution for defect
  controller/test-files/work_item_type/list/ok_agile.res.payload.golden.json
  spacetemplate/assets/agile.yaml
  spacetemplate/importer/repository_blackbox_test.go
Labels: :bomb: test, space_templates

#2336 Fixup for bbd8f88c789943293680644ae8a49b5342a55575 #2334
  spacetemplate/importer/repository.go
  spacetemplate/importer/repository_blackbox_test.go
Labels: :see_no_evil: bug, space_templates
